$dark: (
    footer-background-color: #44475a,
    footer-color: #6272a4,
    link: #ffb86c,
    link-hover: #ff5555,
    title-color:#ff79c6,
    meta-color: #f8f8f2,
    body-color: #f8f8f2,
    hr-color: #595B5C,
    body-background-color: #282a36,
    backdrop-background-color: #282a36,
    dropdown-border-top-color: #424242,
    dropdown-item-active-background-color: #44475a,
    dropdown-content-background-color: #595B5C,
    dropdown-item-hover-background-color: #727072,
    dropdown-item-hover-color: #f8f8f2,
    dropdown-item-color: #f8f8f2,
    navbar-border-bottom-color: #4e4e4e,
    navbar-background-color: #6272a4,
    navbar-mobile-background-color: #3a3a3a,
    navbar-title-color: #f8f8f2,
    navbar-title-hover-color: #ffb86c,
    navbar-title-active-color: #ff79c6,
    navbar-menu-hover-background-color: lighten(#403E41, 5%),
    navbar-dropdown-item-hover-color: #ffb86c,
    sidebar-title-color: #50fa7b,
    sidebar-li-color: #f8f8f2,
    taxo-title-color: #bdbdbd,
    taxo-num-color: #f8f8f2,
    taxo-num-background-color: #282a36,
    taxo-tags-background-color: lighten(#282a36, 13%),
    taxo-tags-color: #8be9fd,
    taxo-series-background-color: lighten(#282a36, 13%),
    taxo-series-color: #ffb86c,
    taxo-categories-background-color: lighten(#282a36, 13%),
    taxo-categories-color: #bd93f9,
    breadcrumb-item-color: #82aaff,
    breadcrumb-background-color: #282a36,
    breadcrumb-item-active-color: #bdbdbd,
    list-header-title-color: #f8f8f2,
    figcaption-color: #bdbdbd,
    figcaption-strong-color: #f8f8f2,
    single-hr-background-color: #595B5C,
    single-blockquote-border-color: #f8f8f2,
    single-header-title-color: #f8f8f2,
    single-contents-title-color: #50fa7b,
    single-contents-subtitle-color: #f8f8f2,
    related-header-title-color: #f8f8f2,
    related-link-color: #A9DC76,
    content-box-border-color: #616161,
    content-box-background-color: #403E41,
    burger-menu-color: #f8f8f2,
    social-icon-color: #f1fa8c,
    social-icon-hover-color: lighten(#f1fa8c, 20%),
    pagination-link-color: #82aaff,
    pagination-background-color: #282a36,
    pagination-disabled-color: #757575,
    pagination-number-color: #f8f8f2,
    terms-title-color: #ddd,
    terms-title-shadow-color: #403E41,
    terms-tags-color: #8be9fd,
    terms-categories-color: #bd93f9,
    terms-series-color: #ffb86c,
    terms-len-color: #727072,
    toc-label-color: #727072,
    toc-title-color: #90a4ae,
    toc-vertical-line: #727072,
    toc-vertical-line-active: #ff79c6,
    toc-header-background-color: #403E41,
    toc-header-background-color-hover: #44475a,
    toc-body-background-color: #403E41,
    search-placeholder-color: #727072,
    search-color: #f8f8f2,
    search-icon-color: #727072,
    search-border-color: #1d1d1d,
    search-border-outline-color: rgba(66, 66, 66, 0.45),
    search-border-active-color: #44475a,
    search-content-color: inherit,
    search-background-color: #282a36,
    search-content-background-color: lighten(#403E41, 5%),
    search-hover-background-color: #403E41,
    search-highlight-color: #ff79c6,
    selection-color: #f8f8f2,
    selection-background-color: #ff79c6,
    archive-key-color: #f8f8f2,
    archive-type-color: #82aaff,
    archive-meta-color: #50fa7b,
    archive-key-background-color: #ff79c6,
    archive-type-background-color: #44475a,
    archive-hover-line-color: #ff79c6,
    gtt-color: #f1fa8c,
    gtt-background-color: #403E41,
    gtt-hover-color: #82aaff,
    gtt-hover-background-color: lighten(#403E41, 5%),
    switch-background-color: #403E41,
    switch-button-color: #f8f8f2,
    switch-active-color: #ff79c6,
    gallery-mask-color: #f8f8f2,
    gallery-mask-background-color: rgba(0, 0, 0, 0.7),
    contact-input-color: #f8f8f2,
    contact-input-background-color: lighten(#403E41, 5%),
    contact-button-background-color: lighten(#403E41, 5%),
    custom-scrollbar-foreground-color: #888,
    custom-scrollbar-background-color: #eee,
    share-color: #dbdbdb,
    share-shadow-color: #888,
    share-background-color: lighten(#403E41, 2.5%),
    donation-background-color: #525252,
    button-primary-color: $button_dark_primary_color,
);
