$dark: (
    footer-background-color: #24273a,
    footer-color: #b2b1b5,
    link: #b2b1b5,
    link-hover: #c6a0f6,
    title-color:#eaeaea,
    meta-color: #eaeaea,
    body-color: #eaeaea,
    hr-color: #9e73b1,
    body-background-color: #7853a1,
    backdrop-background-color: #7853a1,
    dropdown-border-top-color: #7853a1,
    dropdown-item-active-background-color: #7853a1,
    dropdown-content-background-color: #24273a,
    dropdown-item-hover-background-color: #936ebd,
    dropdown-item-hover-color: #eaeaea,
    dropdown-item-color: #eaeaea,
    navbar-border-bottom-color: #1e2030,
    navbar-background-color: #24273a,
    navbar-mobile-background-color: #24273a,
    navbar-title-color: #eaeaea,
    navbar-title-hover-color: #f0c6c6,
    navbar-title-active-color: #936ebd,
    navbar-menu-hover-background-color: lighten(#403E41, 5%),
    navbar-dropdown-item-hover-color: #f0c6c6,
    sidebar-title-color: #eaeaea,
    sidebar-li-color: #eaeaea,
    taxo-title-color: #eaeaea,
    taxo-num-color: #eaeaea,
    taxo-num-background-color: #282a36,
    taxo-tags-background-color: lighten(#282a36, 13%),
    taxo-tags-color: #91d7e3,
    taxo-series-background-color: lighten(#282a36, 13%),
    taxo-series-color: #f5a97f,
    taxo-categories-background-color: lighten(#282a36, 13%),
    taxo-categories-color: #9e73b1,
    breadcrumb-item-color: #8aadf4,
    breadcrumb-background-color: #24273a,
    breadcrumb-item-active-color: #b8abbc,
    list-header-title-color: #eaeaea,
    figcaption-color: #eaeaea,
    figcaption-strong-color: #eaeaea,
    single-hr-background-color: #595B5C,
    single-blockquote-border-color: #eaeaea,
    single-header-title-color: #eaeaea,
    single-contents-title-color: #eaeaea,
    single-contents-subtitle-color: #eaeaea,
    related-header-title-color: #eaeaea,
    related-link-color: #eaeaea,
    content-box-border-color: #616161,
    content-box-background-color: #403E41,
    burger-menu-color: #eaeaea,
    social-icon-color: #eed49f,
    social-icon-hover-color: lighten(#eed49f, 20%),
    pagination-link-color: #8aadf4,
    pagination-background-color: #24273a,
    pagination-disabled-color: #757575,
    pagination-number-color: #eaeaea,
    terms-title-color: #ddd,
    terms-title-shadow-color: #403E41,
    terms-tags-color: #8be9fd,
    terms-categories-color: #bd93f9,
    terms-series-color: #f5a97f,
    terms-len-color: #727072,
    toc-label-color: #eaeaea,
    toc-title-color: #90a4ae,
    toc-vertical-line: #eaeaea,
    toc-vertical-line-active: #ee99a0,
    toc-header-background-color: #403E41,
    toc-header-background-color-hover: #44475a,
    toc-body-background-color: #403E41,
    search-placeholder-color: #727072,
    search-color: #eaeaea,
    search-icon-color: #727072,
    search-border-color: #1d1d1d,
    search-border-outline-color: rgba(66, 66, 66, 0.45),
    search-border-active-color: #44475a,
    search-content-color: inherit,
    search-background-color: #0a021c,
    search-content-background-color: lighten(#403E41, 5%),
    search-hover-background-color: #403E41,
    search-highlight-color: #ee99a0,
    selection-color: #eaeaea,
    selection-background-color: #ee99a0,
    archive-key-color: #eaeaea,
    archive-type-color: #8aadf4,
    archive-meta-color: #8bd5ca,
    archive-key-background-color: #ee99a0,
    archive-type-background-color: #44475a,
    archive-hover-line-color: #ee99a0,
    gtt-color: #f1fa8c,
    gtt-background-color: #403E41,
    gtt-hover-color: #8aadf4,
    gtt-hover-background-color: lighten(#403E41, 5%),
    switch-background-color: #403E41,
    switch-button-color: #eaeaea,
    switch-active-color: #ee99a0,
    gallery-mask-color: #eaeaea,
    gallery-mask-background-color: rgba(0, 0, 0, 0.7),
    contact-input-color: #eaeaea,
    contact-input-background-color: lighten(#403E41, 5%),
    contact-button-background-color: lighten(#403E41, 5%),
    custom-scrollbar-foreground-color: #888,
    custom-scrollbar-background-color: #eee,
    share-color: #dbdbdb,
    share-shadow-color: #888,
    share-background-color: lighten(#403E41, 2.5%),
    donation-background-color: #525252,
    button-primary-color: $button_dark_primary_color,
);
