$light: (
    footer-background-color: #eff1f5,
    footer-color: #4c4f69,
    link: #b5bfe2,
    link-hover: #ea76cb,
    title-color: #eaeaea,
    meta-color: #eff1f5,
    body-color: #eaeaea,
    hr-color: #ccc,
    body-background-color: #9e73b1,
    backdrop-background-color: #eff1f5,
    dropdown-border-top-color: #eff1f5,    
    dropdown-item-active-background-color: #eff1f5,
    dropdown-content-background-color: #eff1f5,
    dropdown-item-hover-background-color: #7853a1,
    dropdown-item-hover-color: #eaeaea,
    dropdown-item-color: #4c4f69,    
    navbar-border-bottom-color: #eaeaea,
    navbar-background-color: #eaeaea,
    navbar-mobile-background-color: #eaeaea,
    navbar-title-color: #4c4f69,
    navbar-title-hover-color: #6c6f85,
    navbar-title-active-color: lighten(#6c6f85, 5%),
    navbar-menu-hover-background-color: lighten(#eeeeee, 3%),
    navbar-dropdown-item-hover-color: #6c6f85,
    sidebar-title-color: #eaeaea,
    sidebar-li-color: #eaeaea,
    taxo-title-color: #eaeaea,
    taxo-num-color: #7287fd,
    taxo-num-background-color: darken(#eee, 15%),
    taxo-tags-background-color: darken(#eee, 2%),
    taxo-tags-color: #7287fd,
    taxo-series-background-color: darken(#eee, 2%),
    taxo-series-color: #7287fd,
    taxo-categories-background-color: darken(#eee, 2%),
    taxo-categories-color: #7287fd,
    breadcrumb-item-color: #7287fd,
    breadcrumb-background-color: #eff1f5,
    breadcrumb-item-active-color: #9ca0b0,
    list-header-title-color: #eaeaea,
    figcaption-color: #bdbdbd,
    figcaption-strong-color: #7287fd,
    single-hr-background-color: #bdbdbd,
    single-blockquote-border-color: #bdbdbd,
    single-header-title-color: #eaeaea,
    single-contents-title-color: #eaeaea,
    related-header-title-color: #eaeaea,
    related-link-color: #eaeaea,
    content-box-border-color: #aaa,
    content-box-background-color: #eeeeee,
    burger-menu-color: #4c4f69,
    social-icon-color: #4c4f69,
    social-icon-hover-color: darken(#e6e9ef, 20%),
    pagination-link-color: #7287fd,
    pagination-background-color: #eff1f5,
    pagination-disabled-color: #ccd0da,
    pagination-number-color: #acb0be,
    terms-title-color: #eaeaea,
    terms-title-shadow-color: #9ca0b0,
    terms-tags-color: #7287fd,
    terms-categories-color: #7287fd,
    terms-series-color: #7287fd,
    terms-len-color: #5c7761,
    toc-label-color: #eaeaea,
    toc-title-color: #eaeaea,
    toc-vertical-line: #eaeaea,
    toc-vertical-line-active: #bd93f9,
    toc-header-background-color: darken(#eee, 1.5%),
    toc-header-background-color-hover: darken(#eee, 3%),
    toc-body-background-color: lighten(#eee, 1.5%),
    search-placeholder-color: #bdbdbd,
    search-color: #7287fd,
    search-icon-color: #bdbdbd,
    search-border-color: #eaeaea,
    search-border-outline-color: rgba(207, 216, 220, 0.6),
    search-border-active-color: #b0bec5,
    search-background-color: #eeeeee,
    search-content-color: #7287fd,
    search-content-background-color: #eeeeee,
    search-hover-background-color: darken(#eeeeee, 10%),
    search-highlight-color: #8839ef,
    selection-color: #FCFCFA,
    selection-background-color: #8839ef,
    archive-key-color: #FCFCFA,
    archive-meta-color: #7287fd,
    archive-type-color: #546e7a,
    archive-key-background-color: #607d8b,
    archive-type-background-color: #bdbdbd,
    archive-hover-line-color: #8839ef,
    gtt-color: #ea76cb,
    gtt-background-color: #eeeeee,
    gtt-hover-color: #607d8b,
    gtt-hover-background-color: darken(#eeeeee, 10%),
    switch-background-color: #bdbdbd,
    switch-button-color: #FCFCFA,
    switch-active-color: #8839ef,
    gallery-mask-color: #7287fd,
    gallery-mask-background-color: rgba(124, 127, 147, 0.85),
    contact-input-color: #7287fd,
    contact-input-background-color: #eee,
    contact-button-background-color: #eee,
    custom-scrollbar-foreground-color: #cfd8dc,
    custom-scrollbar-background-color: #FCFCFA,
    share-color: #FCFCFA,
    share-shadow-color: #5c5f77,
    share-background-color: #90a4ae,
    donation-background-color: #eceff1,
    button-primary-color: $button_light_primary_color,
);
